Vue.component('<%=name.singular %>-add', {
	props: ['onAdd'<%for(var i=0; i< add_fields.length; i++){ var f=add_fields[i]; if(f.type=='list'){%>, '<%=f.ref%>'<%}}%>],
	data: function () {
		return { id: null, <%for(var i=0; i< add_fields.length; i++){ var f=add_fields[i];%><%=f.field%>: <% if(f.type=='bool'){%> false<%}else if(f.type=='number'){%>0<%}else{%>''<%}%>, <% } %>busy : false, showAdd : true};
	},
	methods: { 
		init: function (id<%for(var i=0; i< add_fields.length; i++){ %>, <%=add_fields[i].field%><% } %>, showAdd) {
			this.id = id;
			<%for(var i=0; i< add_fields.length; i++){ %>this.<%=add_fields[i].field%> = <%=add_fields[i].field%>;
			<% } %>
			this.showAdd = showAdd;
		},
		add: function () {
			if(!this.isFormValid()) return;	//validate form
			var data = { id: this.id, <%for(var i=0; i< add_fields.length; i++){ %><%=add_fields[i].field%> : this.<%=add_fields[i].field%>, <% } %>new: 1*this.showAdd };
			this.busy = true;
			this.$http.post(AJAX_ROOT+'<%=api.put%>', data).then(response => {
				this.busy = false;
				if(response.body.status <=0) this.$refs.msgdialog.show('An Error Occured', response.body.detail, 'error');
				else{
					this.onAdd();
					this.clear();
				}
			}, response => { // error callback
				this.busy = false;
			});
		},
		clear: function () {
			this.id = '';
			<%for(var i=0; i< add_fields.length; i++){ var f=add_fields[i];%>this.<%=f.field%> = <% if(f.type=='bool'){%> false<%}else if(f.type=='number'){%>0<%}else{%>''<%}%>;
			<% } %>
		},
		isFormValid: function () {
			return $(this.$el).form('validate form');
		}
	},
	mounted: function () {	//validation rules set when compponent mounted in dom
		$(this.$el).form({
			fields: { id : 'empty'<%for(var i=0; i< add_fields.length; i++){%>, <%=add_fields[i].field%> : 'empty'<% } %>}
		});
		$(this.$el).find('.ui.dropdown').dropdown();
	},
	watch: {
		<%for(var i=0; i< add_fields.length; i++){ var f=add_fields[i];%><%if(f.type=='list'){%>
		<%=f.field%>: function (new<%=f.field%>) {
			$(this.$el).find('.ui.dropdown.<%=f.field%>').dropdown('set selected', new<%=f.field%>)
		},<% } %><% } %>
	},
	template: '<form class="ui form" id="<%=name.singular %>-add" onsubmit="return false;" v-on:keydown.enter="add">\
				<div v-bind:class="showAdd? \'\': \'disabled\' " class="field">\
					<label for="id">Identification Number</label>\
					<input v-model="id" type="text" name="id">\
				</div>\
				<%for(var i=0; i< add_fields.length; i++){ 
					var f = add_fields[i]; 
				%><div class="field">\
					<label for="<%=f.field%>"><%=f.name%></label>\
					<%if(f.type=='text' || f.type=='number') {
					%><input v-model="<%=f.field%>" type="text" name="<%=f.field%>">\<%
					} else if(f.type=='list') {
					%><select v-model="<%=f.field%>" class="ui dropdown type">\
						<option v-for="item in <%=f.ref%>" :value="item.id" :key="item.id">{{ item.name }}</option>\
					</select>\<%
					}%>
				</div>\<% } %>
				<div class="field" v-if="showAdd">\
					<div v-on:click="add" class="ui primary button">Add</div>\
				</div>\
				<div v-if="busy" class="ui active inverted dimmer"><div class="ui text loader">Saving</div></div>\
				<message-dialog ref="msgdialog"></message-dialog>\
			</form>'
});