<div class="ui grid" id="app">
	<div v-bind:class="addVisibility" class="sixteen wide toggle column">
		<div class="ui segments">
			<div class="ui segment">
				<h3 class="ui header">Add <%=header.singular %></h3>
			</div>
			<div class="ui segment">
				<<%=name.singular %>-add v-bind:on-add="refreshData" <%
					for(var i=0; i< add_fields.length; i++){
						var f=add_fields[i]; 
						if(f.type=='list'){ %>:<%=add_fields[i].field%>="<%=add_fields[i].field%>" <%}
					}%>></<%=name.singular %>-add>
			</div>
		</div>
	</div>
	<div class="sixteen wide column">
		<div class="ui segments">
			<div class="ui segment">
				<h3 class="ui header"><%=header.plural %></h3>
			</div>
			<div class="ui segment">
				<<%=name.plural%>-table 
					v-bind:<%=name.plural%>="<%=name.plural%>" 
					<%for(var i=0; i< table_refs.length; i++){
						%>v-bind:<%=table_refs[i]%>="<%=table_refs[i]%>"<%
					}%>
					v-bind:on-edit="showEditDialog"
					v-bind:on-delete="refreshData">
				</<%=name.plural%>-table>
			</div>
			<%if(paginate){
			%><div class="ui segment">
				<a v-for="i in pages" class="ui label" v-bind:class="{teal: (i == current_page)}"  v-on:click="setPage(i)">{{ i }}</a>
			</div><%}
			%>
		</div>
	</div>
	<<%=name.singular %>-edit v-bind:on-update="refreshData" <%
		for(var i=0; i< add_fields.length; i++){
			var f=add_fields[i]; 
			if(f.type=='list'){ %>:<%=add_fields[i].field%>="<%=add_fields[i].field%>" <%}
		}%> ref="editdialog"></<%=name.singular %>-edit>
</div>

<script>
	<%if(paginate){%>var PER_PAGE = <%=per_page%>;<%}%>
	var app = new Vue({
		el: '#app',
		data: {
			<%=name.plural%>: [],
			<%for(var i=0; i< app_props.length; i++){
			%><%=app_props[i]%>: <?=json_encode($<%=app_props[i]%>)?>,<%
			}%>
			<%if(paginate){%>pages: Math.ceil(<?=$count?>/PER_PAGE),<%}%>
			addVisibility: 'hidden',
			current_page: 1
		},
		methods: { 
			refreshData: function () {
				var data = { <%if(paginate){%>offset: (this.current_page - 1)*PER_PAGE, count: PER_PAGE <%}%>};
				this.$http.post(AJAX_ROOT+'<%=api.get%>', data).then(response => {
					this.<%=name.plural%> = response.body.detail<%if(paginate){%>.<%=name.plural%><%}%>;<%
					if(paginate){%>
					this.pages = Math.ceil(response.body.detail.count/PER_PAGE);<%
					}%>
				}, response => {
					// error callback
				});
			},
			toggleAddView: function (type) {
				if(this.addVisibility == 'hidden') this.addVisibility = 'visible';
				else this.addVisibility = 'hidden';
			},
			showEditDialog: function (type) {
				this.$refs.editdialog.showDialog(type);
			},
			setPage: function (page){
				this.current_page = page;
				this.refreshData();
			}
		},
		mounted: function (){
			this.refreshData();
		}
	});
	$('.ui.button.toggle').state();
</script>