Vue.component('<%=name.singular %>-edit', {
	props: [<%for(var i=0; i< add_fields.length; i++){ var f=add_fields[i]; if(f.type=='list'){%>'<%=f.ref%>', <%}}%>'onUpdate'],
	data: function () {
		return { id: null, <%for(var i=0; i< add_fields.length; i++){ var f=add_fields[i];%><%=f.field%>: <% if(f.type=='bool'){%> false<%}else if(f.type=='number'){%>0<%}else{%>''<%}%>, <% } %>busy : false};
	},
	methods: { 
		showDialog: function (<%=name.singular %>) {
			var editfield = this.$refs.editfield;
			editfield.init(<%=name.singular %>.id<%for(var i=0; i< add_fields.length; i++){ %>, <%=name.singular %>.<%=add_fields[i].field%><% } %>, false);
			$(this.$el).modal({}).modal({ 
				onApprove: function(){
					editfield.add();
					return false;
				}
			}).modal('setting', 'closable', false).modal('show');
		},
		closeDialog: function (<%=name.singular %>) {
			this.onUpdate();
			$(this.$el).modal({}).modal('hide');
		}
	},
	mounted: function () {	//validation rules set when compponent mounted in dom
	},
	template: '<div class="ui small modal" id="<%=name.singular %>-edit">\
				<div class="header">Edit <%=header.singular %></div>\
					<div class="content">\
						<<%=name.singular %>-add v-bind:on-add="closeDialog" <%
							for(var i=0; i< add_fields.length; i++){
								var f=add_fields[i]; 
								if(f.type=='list'){ %>:<%=add_fields[i].field%>="<%=add_fields[i].field%>" <%}
							}%> ref="editfield"></<%=name.singular %>-add>\
					</div>\
					<div class="actions">\
						<div class="ui blue approve button">Update</div>\
						<div class="ui cancel button">Cancel</div>\
					</div>\
				</div>'
});