Vue.component('<%=name.plural %>-table', {
	props: <%-include('table_props', { name:name.plural, props: table_refs});%>,
	methods: {
		onDeleteClick: function (<%=name.singular %>) {
			var data = { id: <%=name.singular %>.id};
			var confirmDialog = this.$refs.confirmdialog;
			confirmDialog.show('Delete <%=header.singular %>', 'Are you sure you want to delete this <%=name.singular %>?', 'Delete', 'red', data);
		},
		onEditClick: function (<%=name.singular %>) {
			this.onEdit(<%=name.singular %>);
		},
		onDeleteApproved: function (data) {
			this.$http.post(AJAX_ROOT+'<%=api.delete %>', data).then(response => {
				if(response.body.status == 1) this.onDelete();
			}, response => {
				if(response.body.status <= 0) {
					this.$refs.msgdialog.show('An Error Occured', response.body.detail, 'error');
				}
			});
		}
	},
	template: '<div>\
					<table class="ui celled table">\
						<thead><tr>\
							<% for(var i=0; i< table_fields.length; i++){ %> <th><%=table_fields[i].header %></th> <% } %><th>Actions</th>\
						</tr></thead>\
						<tbody>\
							<tr v-for="<%=name.singular %> in <%=name.plural %>">\
								<% for(var i=0; i< table_fields.length; i++){ 
								%><td><%-table_fields[i].labeled? '<div class="ui label">':''
									%>{{ <%=name.singular %>.<%=table_fields[i].field %> }}<%-
									table_fields[i].labeled? '</div>':''
								%></td>\
								<%} 
								%><td>\
									<a class="ui mini teal button" v-on:click="onEditClick(<%=name.singular %>)"><i class="edit icon"></i>Edit</a>\
									<a class="ui mini red button" v-on:click="onDeleteClick(<%=name.singular %>)"><i class="close icon"></i>Delete</a>\
								</td>\
							</tr>\
						</tbody>\
					</table>\
					<confirmation-dialog v-bind:on-ok="onDeleteApproved" ref="confirmdialog"></confirmation-dialog>\
					<message-dialog ref="msgdialog"></message-dialog>\
				</div>'
});